
<div class="container wal">
  <div class="account">
    <h2>Account</h2>
    <div class="account-tab">
      <ul>
        <li><a href="account.html">Profile </a></li>
        <li><a href="image.html"> Image </a></li>
        <li><a href="notice.html"> Notifications  </a></li>
        <li><a href="email.html">Reset password</a></li>
        <li class="active"><a href="bulk-coupan.html"> Bulk Order Coupon</a></li>
        <div class="clear"></div>
      </ul>
      <div class="wel-form account-form">
        <div class="pad">
          <div class="bulk-head">
            Retreive your builk order coupon: 
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label class="control-label">Enter your email address: 
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <label class="control-label" >Enter your login password:
                    </label>
                  </div>
                  <div class="col-md-8">
                    <input type="password" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
              <button type="button" class="btn coupan">Resend Coupon Code</button>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

