<div id="content" class="content">
  <%= render "home/home_partials/appraisal_images" %>
  <%= render "home/home_partials/appraisal_content"%>
  <%= render "home/home_partials/appraisal_more"%>
  <%= render "home/home_partials/appraisal_more_content"%>
</div>
<div style="display:none;" class="nav_up" id="nav_up"></div>


