<div class="container">
<div class="testimonial">
  <h2>Testimonials</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="test-box">
        <div  class="test-box-head">
          <div class="row">
            <div class="col-md-4"> <img src="/assets/new_template/testimonials/test1.png" alt="testimonials"> </div>
            <div class="col-md-8">
              <h5>Terry H.</h5>
            </div>
          </div>
        </div>
        <div  class="test-box-con">
          <div class="row">
            <div class="col-md-12">
              <p>I have been using the services of Value This Now (VTN) since August, 2013, and couldn't be more pleased.  I am a casual collector of whatever strikes my fancy; Asian earthenware, engravings, Limoges china - even a pair of vintage, very high quality bonsai shears.  VTN isn't just for insurance companies and attorneys; I request their appraisals simply for the pleasure of knowing more about my "treasure."   Because VTN works with experts with a wide variety of specializations, I am comfortable knowing that my appraisal comes from a knowledgeable source.   And I appreciate how quickly I get my appraisals 
                back - sometimes within an hour or two.  I would recommend the services of VTN to anyone wanting a quality appraisal. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="test-box">
        <div  class="test-box-head">
          <div class="row">
            <div class="col-md-4"> <img src="/assets/new_template/testimonials/test1.png" alt="testimonials"> </div>
            <div class="col-md-8">
              <h5>Ron Jacobsen</h5>
              <h6>Vice President of Network Development<br>
                National Restorations, LLC.
              </h6>
            </div>
          </div>
        </div>
        <div  class="test-box-con">
          <div class="row">
            <div class="col-md-12">
              <p>                 We have utilized the services of Value This Now on several occasions with fantastic results. We received the appraisals within a few hours which was a pleasant surprise. Each time the appraisals were comprehensive, concise and contained everything we required to provide our insurance account with the 
                information they needed to properly and fairly settle the claim. We would highly recommend Value This Now, and we will continue to utilize their services in the future. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="test-bottom">
    <div class="row">
      <div class="col-md-6">
        <div class="test-box">
          <div  class="test-box-head">
            <div class="row">
              <div class="col-md-4"> <img src="/assets/new_template/testimonials/test1.png" alt="testimonials"> </div>
              <div class="col-md-8">
                <h5>Sharnneice Allen</h5>
                <h6>Customer Assistance Counselor <br>
                  Hilldrup Moving and Storage Co.
                </h6>
              </div>
            </div>
          </div>
          <div  class="test-box-con">
            <div class="row">
              <div class="col-md-12">
                <p> Our company recently started using ValueThisNow.com's appraisal services.  The website is very user friendly and we received the appraisal the next day!  The cost of the appraisal is also very reasonable and is a fraction of the cost we used to pay.  ValueThisNow.com saves us time and money, and I would recommend others try this helpful online tool. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="test-box">
          <div  class="test-box-head">
            <div class="row">
              <div class="col-md-4"> <img src="/assets/new_template/testimonials/test1.png" alt="testimonials"> </div>
              <div class="col-md-8">
                <h5>Pete Carruth</h5>
                <h6>President – Strato Communications, LLC</h6>
              </div>
            </div>
          </div>
          <div  class="test-box-con">
            <div class="row">
              <div class="col-md-12">
                <p>                     We have unique family heirlooms dating from the WWII era to the turn of the 20th century. It was imperative that we obtain values for insurance purposes. We had already spent many hours trying to figure out their values on our own, and many appraisers wanted hundreds of dollars to help us do so. ValueThisNow was amazing and their appraisals are as low as $9.95. They saved us so much time. the process was simple. and the appraisers did all the research for us. They even provided their thorough reports in only a matter of hours. We will be doing all of our appraisals through ValueThisNow! Thanks you!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
