<div class="row big-box">
  <div class="col-sm-6 col-md-4 value">
    <div class="blue-box">
      <p>WHAT DO WE VALUE? 168 <br>
        CATEGORIES OF PERSONAL<br>  PROPERTY.<a href="categories.html">Click here</a><br>
        TO VIEW THE LIST
      </p>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 over">
    <div class="blue-box">
      <p>Over 75 expert<br> 
        appraisers from around<br> the world.<a href="categories.html">Click here</a><br>
        to learn more!
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="last-box">
      <a href="http://www.xactware.com/" target="_blank">
        <img src="assets/new_template/logo_1.png"></a>
      <p>Insurance carriers, ask us about <br>
        processing damage claims through Xactware 
      </p>
    </div>
  </div>
</div>