<section class="section_4">
  <div class="more_size">
    <div class="row">
      <div class=" col-md-7 box_right">
        <h2>Appraisals give you more than just<br> a value </h2>
        <p>You can learn a lot from an appraisal. For example, if you have an item to sell, an appraisal will help you get the best price. Insurance companies may require appraisals for property insurance. If you are moving, it's a good idea to get items appraised in case they are damaged during the move and you need to file a damage claim.</p>
        <p>Appraisals are also very valuable for life events such as wills, inheritence and divorce. In addition to learning about the market value of your item, you can also learn about its history. Each piece has a story to tell and our expert appraisers can reveal that story to you. They can also help you find groups and other people that share your interest in the item.<br> <a href="login.html"> Learn about your item with an online appraisal.</a> </p>
      </div>
      <div class="col-md-5">
        <img src="/assets/new_template/box_2.png">
      </div>
    </div>
    <%= render 'home/home_partials/appraisal_more_boxes'%>
    <%= render 'home/home_partials/appraisal_more_icons'%>
  </div>
</section>