<div class="row my_icon">
  <div class="col-sm-6 col-md-3 gcf">
    <div class="green-box set openvideo">
      <%= image_tag("new_template/play.png")%>
      <p>Watch Now</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 gcf">
    <div class="green-box set">
      <a href="select.html">
        <%= image_tag("new_template/play_2.png")%>
        <p>Appraisal Types </p>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 gcf">
    <div class="green-box set">
      <a href="bulkorder.html">
        <%= image_tag("new_template/right.png")%>
        <p>Buy in bulk & SAVE!</p>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 last ">
    <div class="green-box">
      <a href="#">
      <%= image_tag("new_template/phone.png")%>
      </a>
      <p>Need Help? <br>
        Call (844) 938-2583
      </p>
    </div>
  </div>
</div>