<section class="section_1">
  <div class="more_size">
    <div class="section_2">
      <h2>Recent Appraisals</h2>
      <hr>
      <%= render "home/home_partials/slider"%>
      <div class="last_serip">
        <p> End of Month <strong>20% off</strong> sales on Appraisals use code <strong>CF14458</strong> at checkout</p>
      </div>
    </div>
    <%= render 'home/home_partials/recent_appraisals_content'%>
    <div class="catagery">
      <p>We appraise in 168 specialty  <a href="categories.html">categories:</a></p>
    </div>
    <%= render "home/home_partials/social_share" %>
  </div>
</section>