<div class="box_2">
  <h2>Over 100 expert appraisers now online. <br>
    Uses for online appraisal services include:
  </h2>
  <ul>
    <li>Settle insurance claims faster</li>
    <li>Have peace-of-mind when buying or selling</li>
    <li>Get just the right amount of coverage for your valuables</li>
    <li>Wills, trusts, estate sales, divorce settlements done smarter</li>
    <li>Get the most out of your charitable contributions</li>
  </ul>
</div>