<ul class="container">
  <li>
    <div class="step">
      <div class="step_left">
        <p>STEP<br>
          1
        </p>
      </div>
      <div class="step_right">
        <p>Upload at least one quality 
          picture of your item.
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </li>
  <li>
    <div class="step">
      <div class="step_left">
        <p>STEP<br>
          2
        </p>
      </div>
      <div class="step_right">
        <p>Tell us what you now about
          the item.
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </li>
  <li>
    <div class="step">
      <div class="step_left">
        <p>STEP<br>
          3
        </p>
      </div>
      <div class="step_right">
        <p>Receive an expert appraisal 
          back in under 48hours.
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </li>
</ul>
