<div class="row type">
  <div class="col-md-7 box_right">
    <h2>What We Do</h2>
    <p>ValueThisNow.com is the nation's most recognized name in providing expert opinions of value online. With over 75 hand-picked experts from across the 
      nation, we bring highly credible opinions of value for antiques, collectibles, memorabilia and virtually any household item.  Our sight enables users to quickly gain an expert onion of value for matters concerning auctions, estate sales, insurance damage claims resolution, wills, trusts and charitable contributions.
    </p>
    <p>Having a better understanding of the history and value of your personal property offers confidence when buying, selling, donating or passing personal possessions along to those we love or care about.</p>
    <p>Not only do we make it easy to learn about your personal property, we also make it easy to share your appraisal results through social media.</p>
    <p>ValueThisNow helps to take the guess work out of valuing your personal property at a price point that is very affordable.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("new_template/sec-1.png")%>
  </div>
  <div class="report1" style="display:none;">
    <i class="fa fa-times-circle close-frame"  onclick="refreshIframe();"></i>
    <iframe name="myIframe" src="http://www.controlf5.in/client-demo/value_this_now/short-appraisal.html"></iframe>
    <div class="home-contact">
      <div class="home-bh">
        <h4>Contact The Property Owner</h4>
        <i class="fa fa-times-circle capcha"  onclick="refreshIframe();"></i>
        <form class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Your Email Address: </label>
                <div class="col-sm-7">
                  <input type="email" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="form-group">
                <label for="inputtel" class="col-sm-5 control-label">Your Phone Number:  </label>
                <div class="col-sm-7">
                  <input type="tel" class="form-control" id="inputtel">
                </div>
              </div>
              <div class="form-group">
                <label for="text-msg" class="col-sm-5 control-label">Your Message:   </label>
                <div class="col-sm-7">
                  <textarea class="form-control" rows="3" id="text-msg"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="repacha">
                <%= image_tag "new_template/recaptcha_pic1.png" %>
                <input type="submit" value="SEND">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://www.controlf5.in/client-demo/value_this_now/short-appraisal.html" data-a2a-title="shot-appraisal:"><a class="a2a_dd" href="https://www.addtoany.com/share"></a><a class="a2a_button_facebook"></a><a class="a2a_button_twitter"></a><a class="a2a_button_google_plus"></a></div>
  </div>
  <div class="report2" style="display:none;">
    <i class="fa fa-times-circle close-frame" onclick="refreshIframe();"></i>
    <!-- <iframe name="myIframe" src="tax-short-appraisal.html"></iframe> -->
    <div class="home-contact">
      <div class="home-bh">
        <h4>Contact The Property Owner</h4>
        <i class="fa fa-times-circle capcha"  onclick="refreshIframe();"></i>
        <form class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Your Email Address: </label>
                <div class="col-sm-7">
                  <input type="email" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="form-group">
                <label for="inputtel" class="col-sm-5 control-label">Your Phone Number:  </label>
                <div class="col-sm-7">
                  <input type="tel" class="form-control" id="inputtel">
                </div>
              </div>
              <div class="form-group">
                <label for="text-msg" class="col-sm-5 control-label">Your Message:   </label>
                <div class="col-sm-7">
                  <textarea class="form-control" rows="3" id="text-msg"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="repacha">
                <%= image_tag "new_template/recaptcha_pic1.png" %>
                <input type="submit" value="SEND">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="http://www.controlf5.in/client-demo/value_this_now/tax-short-appraisal.html" data-a2a-title="tax-shot-appraisal:"><a class="a2a_dd" href="https://www.addtoany.com/share"></a><a class="a2a_button_facebook"></a><a class="a2a_button_twitter"></a><a class="a2a_button_google_plus"></a></div>
  </div>
</div>