<div id="demo">
  <div class="span12">
    <div id="owl-demo" class="owl-carousel">
      <div class="item"><span class="gft report-image1"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image2"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image1"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image2"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image1"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image2"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image1"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image2"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image1"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image2"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image1"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
      <div class="item"><span class="gft report-image2"><img src="assets/new_template/Appraisal1.jpg" width="105" height="148" alt="Owl Image" class=""></span></div>
    </div>
    <div class="customNavigation">              
      <a class="btn prev my_arrow"><%= image_tag("new_template/left-arrow.png")%></a>
      <a class="btn next my_arrow"><%= image_tag("new_template/arrow-right.png") %></a>
    </div>
  </div>
</div>