<div class="social_menu">
  <ul>
  	<div class="col-md-4">
      <a href="http://www.twitter.com/valuethisnow" target="_blank" ><%= image_tag "tw.png" %></a>
      <a href="http://pinterest.com/valuethisnow" target="_blank"><%= image_tag "pin.png" %></a>
      <a href="http://www.facebook.com/ValueThisNow" target="_blank"><%= image_tag "fb.png" %></a>
    </div>

<!--     <li><a href="https://www.facebook.com/ValueThisNow"><i class="fa fa-facebook"></i></a></li>
    <li><a href="http://www.twitter.com/valuethisnow"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.pinterest.com/valuethisnow/"><i class="fa fa-pinterest-p"></i></a></li> -->
  </ul>
</div>